--2026-04-18 22:36:10--  https://raw.githubusercontent.com/github/gitignore/refs/heads/main/Python.gitignore
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8000::154, 2606:50c0:8002::154, 2606:50c0:8003::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8000::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4628 (4.5K) [text/plain]
Saving to: ‘Python.gitignore’

     0K ....                                                  100% 10.5M=0s

2026-04-18 22:36:11 (10.5 MB/s) - ‘Python.gitignore’ saved [4628/4628]

